body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flexbox;
    max-width: 700px;
    margin: auto;
}

.post  {
    margin: auto;
    margin-top: 80px;
}

.post p {
    padding: 0px 25px;
}


.title {
    float: left;
    font-weight: bold;
    font-size: 20px;
}

.tag {
    float: right;
    color: gray;
}

.photo {
    width: 700px;
}